* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IM Fell Great Primer", serif;
}

body {
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    background-color: rgb(254, 129, 168);
}

.link-admin {
    text-decoration: none;
    position: absolute;
    right: 0;
    color: white;
    padding-right: 20px;
}

.link-admin :hover {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(184, 77, 121);
}

.logo {
    width: 0;
}

.logo img {
    width: 150px;
    margin-left: 30px;

}

header h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    color: white;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
}

nav ul li a{
    color: white;
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(184, 77, 121);
}

.img-carrossel {
    width: 100%;
    object-fit: cover;
    height: 350px;
}

.container h2 {
    text-align: center;
    color: rgb(244, 166, 187);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container h2 p {
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-cardapio-itens {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-cardapio-item{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    width: 30%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 231, 244, 0.5);
    margin: 20px;
}

.menu-cardapio-item h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-cardapio-item p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-cardapio h2 {
    text-align: center;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 164, 189);
}

footer {
    background-color:rgb(253, 186, 227);
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

.button {
    align-items: center;
    margin-left: 44%;
    margin-bottom: 60px;
    margin-top: 25px;
}

.link-reserva {
    background-color: rgb(254, 129, 168);
    padding: 15px;
    border-radius: 25px;
    border: white;
    color: white;
    cursor: pointer;
    text-decoration: none;
}