body {
    font-family: "Poiret One", sans-serif;
    color: rgb(39, 2, 13);
    background-image: url('../img/fundo.PNG');
    background-size: cover;
    width: 100%;
    text-align: center;
}

h1 {
    color: rgb(220, 78, 123);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
}

section {
    width: 52%;
    margin-left: 240px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    background-color: rgb(255, 255, 255);
}

input {
    height: 30px;
    border: 1px solid rgb(27, 2, 12);
    border-radius: 3px;
    padding: 5px;
}

input[type="text"] {
    width: 610px;
}

input[type="number"] {
    width: 610px;
}

input[type="date"] {
    width: 610px;
}

button {
    background-color: rgb(220, 78, 123);
    color: rgb(255, 255, 255);
    padding: 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poiret One", sans-serif;
}

button:hover {
    background-color: rgb(240, 37, 101);
    transition: (1.5);
}

.texto-button {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.voltar {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(12, 29, 113);
}

.voltar:hover {
    text-decoration: underline;
    cursor: pointer;
}










