
body {
    font-family: "Lekton", sans-serif;
    color: rgb(94, 94, 94);
    text-align: center;
}

.container h2 {
    padding-top: 20px;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

table {
    padding: 50px;
    width: 100%;
    font-size: 20px;
}

th, td {
    border: 1px rgb(151, 15, 70) solid;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(255, 252, 253);
}

tr:nth-child(odd) {
    background-color: rgb(255, 252, 253);
}

tr:hover {
    background-color: rgb(253, 236, 243);
}

img {
    width: 30%;
}